<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <div class="riddle">
        <div class="riddle__meta">
          <a href="/+{{ riddle.author.username }}">
            +{{ riddle.author.username }}
          </a>
        </div>

        <div class="riddle__content">
          {{ riddle.question }}
        </div>
        <div class="riddle__content">
          {{ riddle.hint }}
        </div>
        <div class="riddle__content">
          {{ riddle.answer }}
        </div>
      </div>
    </div>
  </div>
</div>
